@font-face {
   font-family: 'GosanjaOTF';
   font-display: swap;
   src: url('file:///Users/hanjeongjin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-10-27_091646/fonts/GosanjaOTF/font.ttf');
}
